<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">

<head>
<title>City Routes</title>

<!-- reference CSS file -->
<link rel="stylesheet" th:href="@{/css/city-routes.css}" />

</head>

<body>
    <h4>Please, select start and cities</h4>
    <br />
    <form role="form" id="cities" th:action=@{/findRoutes} method="get">
        <label>Start City:</label> 
        <select name="startCityId">
            <option th:each="city : ${cityList}" th:value="${city.id}"
                th:text="${city.name}"></option>
        </select> 
        <br> <br> 
        <label>End City:</label>
         <select name="endCityId">
            <option th:each="city : ${cityList}" th:value="${city.id}"
                th:text="${city.name}"></option>
        </select>
        <p><input type="submit" value="Find route" />
    </form>

</body>

</html>






