<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">

<head>
<title>City Routes</title>

<!-- reference CSS file -->
<link rel="stylesheet" th:href="@{/css/city-routes.css}" />

</head>

<body>

    <p th:text="'The shortest route is: ' + ${route}" class="bold"/>
    
    <a href="javascript:history.back()">Go Back</a>
</body>

</html>






